body {
    background-color: rgb(65, 137, 185);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-top: 50px;
    color: aliceblue;
    text-align: center;
}

/* ===== SESSÃO DA CALCULADORA ===== */

#calculadora {
    justify-content: center;
}

.resultado {
    background-color: rgb(114, 102, 102);
    width: 500px;
    height: 120px;
    justify-content: center;
    margin-left: 700px;
    margin-top: 70px;
    text-align: right;
    font-size: 50px;
}

.flex {
    display: flex;
    width: 50;
    height: 50;
    padding: 10;
}

#botoes {
    justify-content: center;
 
    width: 150px;
    height: 40px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
}
